@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Solitaire website!</h1>
    <p>Here you can super cool game of <a href="https://en.wikipedia.org/wiki/Solitaire">solitaire</a>.</p>
    <p>You are currently a guest in this site, but register and leaderboard function will be added soon.</p>
</div>
